# Arquivos de Ambiente (MUITO IMPORTANTE - NÃO SUBIR CHAVES API)
.env

# Ambientes Virtuais Python
venv/
env/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDE / Editores (Cursor, VS Code, etc)
.vscode/
.cursor/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
